@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
}

header {
    background: beige;
    display: flex;
    justify-content: space-between;
}

img {
    height: 100px;
    margin-left: 50px;
    padding: 20px 0;
}

h1 {
    text-align: center;
    margin-right: 100px;
}