@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
}

header {
    background: beige;
    display: flex;
    justify-content: space-between;
}

img {
    height: 100px;
    margin-left: 50px;
    padding: 20px 0;
}

h1 {
    text-align: center;
    margin-right: 100px;
}

nav {
    width: 60%;
    display: flex;
    margin: auto;

}

a {
    text-decoration: none;
    color: inherit;
}

.nav-list {
    width: 100%;
    text-align: center;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 30px 0;
}

li span {
    font-size: 30px;
    font-weight: bold;
}

.list {
    cursor: pointer;
    margin: 10px 0;
    background: rgb(72, 81, 81);
    padding: 30px;
    color: white;
}

.list li {
    /* display: none; */
    transition: all 2s ease-in-out;
    position: absolute;
    opacity: 0;
}

.list:hover li {
    /* display: flex; */
    position: static;
    opacity: 1;
}